= simple_form_for @trade_object do |f|
  = f.input :name, label: 'Trade Object Name'
  = f.label 'Trade Object Type:'
  = f.input :kind_of_object, label: '', item_wrapper_class: 'inline',collection: ['Goods', 'Service'], as: :radio_buttons
  = f.input :current_price, label: f.object.new_record? ? 'Current Price' : 'New Recommended Current Price'
  = f.input :minimum_price, label: 'Minimum Price'
  .right
    = f.button :submit, class: 'btn btn-primary'
  