%h3.center
  Trade Objects Table
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Trade Object Name
      %th Trade Object Type
      %th Current price
      %th Minimum price
      %th Last contributed to sales in the current period
      %th Current sales for the reporting period
      %th
  %tbody
    - @trade_objects.each do |trade_object|
      %tr
        %td= trade_object.name
        %td= trade_object.object_type
        %td.to_right
          = number_to_currency(trade_object.current_price, unit: "")
        %td.to_right
          = number_to_currency(trade_object.minimum_price, unit: "")
        %td.to_right
          = trade_object.sales_count
        %td.to_right
          = trade_object.total_count_of_sales
        %td
          %div.btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to 'Show', trade_object_path(trade_object)
              %li= link_to 'Update', edit_trade_object_path(trade_object)
              %li= link_to 'Destroy', trade_object_path(trade_object), method: :delete, data: { confirm: 'Are you sure?' }
              %li.divider{:role => "separator"}
              %li= link_to 'Show Trade History', '#'
              %li.divider{:role => "separator"}
              %li= link_to 'Add Sales Data', '#'
              %li.divider{:role => "separator"}
              %li= link_to 'Add Strategy', '#'
.right
  = link_to 'Create Trade Object', new_trade_object_path, class: 'btn btn-primary btn-center'
