.row
  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    %h3.center
      Information Page about #{@trade_object.kind_of_object}: #{@trade_object.name}
    %table.table.table-striped.table-bordered
      %tr
        %th Current price
        %td.to_right
          = number_to_currency(@trade_object.current_price, unit: '')
      %tr
        %th Minimum price
        %td.to_right
          = number_to_currency(@trade_object.minimum_price, unit: '')
      %tr
        %th Current sales for the reporting period
        %td.to_right
          = @trade_object.total_count_of_sales
    .right
      %div.btn-group
        %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Actions
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to 'Update', edit_trade_object_path(@trade_object)
          %li= link_to 'Destroy', trade_object_path(@trade_object), method: :delete
          %li.divider{:role => "separator"}
          %li= link_to 'Add Sales Data', new_trade_object_sales_history_path(@trade_object)
          %li= link_to 'Show Trade History', trade_object_sales_histories_path(@trade_object)
          %li.divider{:role => "separator"}
          %li= link_to 'Add Strategy', '#'
